@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.coin-details{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#coin-img{
    /* border-bottom: 2px solid red; */
    width: 25%;
    padding: 5rem;
    align-self: center;
}
.main-content{
    /* border: 2px solid yellow; */
    padding-top: 5rem;
    width: calc(75% - 5rem);
    padding-right: 5rem;
}
#coin-name{
    /* border: 2px solid blue; */
    color: #fca311;
    margin-bottom: 1rem;
}
.prices{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem 0;
}
.main-content h3{
    margin-top: 1rem;
}
#coin-description{
    text-align: justify;
}
.price-history-chart{
    margin: 1rem 5rem;
}
.price-history-chart h1{
    color: #fca311;
    margin: 1rem 0;
}
