@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.searchResults {
  margin-top: 1rem;
}

.searchResults h2 {
  text-align: center;
  color: #fca311;
  margin-bottom: 0.5rem;
}
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 8px;
}
.search-content input {
  font-size: 1.5rem;
}
.searchCoin {
  font-size: 1.5rem;
}

#coinData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
  margin: 0rem 5rem;
  gap: 1rem;
  transition: all 0.25s;
  background-color: #ffffff;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.card img {
  height: 2rem;
}
.card h3 {
  font-size: 1.3rem;
}
.card a {
  background-color: #ffffff;
  border: 1px solid #14213d;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: all 0.25s;
  margin-left: auto;
  text-decoration: none;
  color: #000000;
}
.card a:hover {
  background-color: #14213d;
  color: #ffffff;
}
